#OS junk files
[Tt]humbs.db
*.DS_Store

Ankh.NoLoad

#nuget packages
.nupkg

#Subversion files
.svn

#Ignore files build by Visual Studio
*.obj
*.suo
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
[Oo]bj/
[Bb]in/
[Rr]elease*/
[Bb]uild/
[Tt]mp/
[Dd]ebug/
[Rr]esult*/
_ReSharper*/
cache*/
ipch/
*.[Cc]ache
.vs/
.idea/

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

# Office Temp Files
~$*

#ncrunch
*ncrunch*
*crunch*.local.xml

#ignore thumbnails created by windows
Thumbs.db

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*/
*.sass-cache

#Other, Inflection team
*.txt
#*.png
*.dll
#*.xml

#NuGget
[Pp]ackages/
#![Pp]ackages/repositories.config
NuGet.exe
#NuGet.targets
/SITE/src/Orchard.Web/App_Data/Dependencies/dependencies.compiled.xml
/SITE/src/Orchard.Web/App_Data/Dependencies/dependencies.xml
/SITE/src/Orchard.Web/App_Data/Sites/Default/mappings.bin
/IntBilling/IntBilling.v12.suo
/TestDB/*.refactorlog
int_billing/IntBilling.sln.DotSettings.user.Corrupted.2015-04-21T11-56-34.Backup.Tmp
int_billing/IntBilling.sln.DotSettings.user.Corrupted.2015-04-21T11-56-34.Description.Tmp
/Logger/*.log
j_int_common/inthelpers/out/production/inthelpers/com/intsurfing/inthelpers/StringHelper.class
j_int_common/inthelpers/out/production/inthelpers_unit_tests/string_helper/IsNullOrEmptyTests.class
j_int_common/inthelpers/out/production/inthelpers_unit_tests/string_helper/isNullOrWhitespaceTests.class
LogbookMaker/Src/Logbook/.idea/workspace.xml
*.nupkg
Specifications/.nuget/NuGet.Config
Specifications/.nuget/NuGet.targets
Settings/ISFUserSettingsTests/AppReadme/Compare-NET-Objects-Help.chm
Logger/.vs/Logger/v15/Server/sqlite3/storage.ide
Exceptions/.vs/Exceptions/v15/Server/sqlite3/storage.ide
Entities/.vs/Entities/v15/Server/sqlite3/storage.ide
Entities/.vs/Entities/v15/Server/sqlite3/db.lock
Common/.vs/Common/v15/Server/sqlite3/storage.ide
Common/.vs/Common/v15/Server/sqlite3/db.lock
Exceptions/.vs/Exceptions/v15/Server/sqlite3/db.lock
Logger/.vs/Logger/v15/Server/sqlite3/db.lock

Core/\.vs/Core/v15/Server/sqlite3/db\.lock

Core/\.vs/Core/v15/Server/sqlite3/storage\.ide

Logger/\.vs/Logger/v15/Server/sqlite3/storage\.ide-shm

Logger/\.vs/Logger/v15/Server/sqlite3/storage\.ide-wal

DatabaseContext/\.vs/DatabaseContext/DesignTimeBuild/\.dtbcache

DatabaseContext/\.vs/DatabaseContext/v16/Server/sqlite3/db\.lock

DatabaseContext/\.vs/DatabaseContext/v16/Server/sqlite3/storage\.ide

Entities/\.vs/Entities/DesignTimeBuild/\.dtbcache

Entities/\.vs/Entities/v16/Server/sqlite3/db\.lock

Entities/\.vs/Entities/v16/Server/sqlite3/storage\.ide

Entities/\.vs/Entities/v16/Server/sqlite3/storage\.ide-shm

Entities/\.vs/Entities/v16/Server/sqlite3/storage\.ide-wal

Repository/\.vs/Repository/DesignTimeBuild/\.dtbcache

Repository/\.vs/Repository/v16/Server/sqlite3/storage\.ide

Repository/\.vs/Repository/v16/Server/sqlite3/storage\.ide-shm

Repository/\.vs/Repository/v16/Server/sqlite3/storage\.ide-wal

Repository/\.vs/Repository/v16/Server/sqlite3/

Repository/\.vs/Repository/DesignTimeBuild/

Providers/\.vs/Providers/v15/Server/sqlite3/db\.lock

Providers/\.vs/Providers/v15/Server/sqlite3/storage\.ide

Providers/\.vs/Providers/v15/Server/sqlite3/storage\.ide-shm

Providers/\.vs/Providers/v15/Server/sqlite3/storage\.ide-wal
/Settings/.vs/Settings/DesignTimeBuild/.dtbcache
/Settings/.vs/Settings/v16/Server/sqlite3/db.lock
/Settings/.vs/Settings/v16/Server/sqlite3/storage.ide
/Settings/.vs/Settings/v16/Server/sqlite3/storage.ide-shm
/Settings/.vs/Settings/v16/Server/sqlite3/storage.ide-wal
/HTTP/.vs/HTTP/v16/Server/sqlite3/db.lock
/HTTP/.vs/HTTP/v16/Server/sqlite3/storage.ide
Core/.vs/
Common/.idea/
DatabaseContext/.idea/
Entities/.idea/
Exceptions/.idea/
Helpers/.idea/
ISFLogger/.idea/
Mappers/.idea/
Providers/.idea/
Repository/.idea/
Settings/.idea/
Specifications/.idea/
TransactionManager/.idea/
Utilities/.idea/
Validators/.idea/
Core/.idea/
HTTP/.idea/

Sexoffenders/code/SO.CO/

Sexoffenders/code/CodeCoverage/

Sexoffenders/code/
